@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  width: 100%;
  height: 100vh;
  background: rgb(240, 239, 243);
}

.list {
  background: #f2f2f2;
  max-width: 400px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  font-family: var(--lato);
  font-size: 1.2em;
  color: #777;
}

.todos-list {
  max-height: 300px;
  overflow-y: auto;
}

.todos-list li {
  display: grid;
  grid-template-columns: 1fr 13fr 1fr;
  border: 1px solid #ddd;
  align-items: baseline;
  position: relative;
  list-style: none;
  margin: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 17px;
  cursor: default;
  overflow: hidden;
  word-wrap: break-word;
}

.row p {
  flex-basis: 80%;
}

.todos-list li p {
  font-family: var(--lato);
  font-size: 1.2em;
  color: #777;
}

.rotate {
  transform: rotate(90deg);
}

.add-input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  background: #f2f2f2;
  color: #777;
}

.editInput {
  position: absolute;
  height: 55px;
  width: 100%;
  border: none;
  font-size: 20px;
  padding-left: 10px;
}

input[type='checkbox'] {
  transform: scale(1.3);
}

.clear {
  text-align: center;
  background-color: var(--gray);
}

.list div:last-child {
  border-bottom: none;
}

.span-item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

button {
  border: none;
}
