@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --white: #fff;
  --gray: #ebebeb;
  --text: #1f1f1f;
  --lato: lato, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(240, 239, 243);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hello {
  color: blue;
}

.list {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  width: 50%;
  justify-self: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  font-family: var(--lato);
  font-size: 1.2em;
  color: #777;
}

.todos-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid #ddd;
  padding: 12px;
}

.row p {
  flex-basis: 80%;
}

.todos-list li p {
  font-family: var(--lato);
  font-size: 1.2em;
  color: #777;
}

.rotate {
  transform: rotate(90deg);
}

.add-input {
  border: none;
  width: 85%;
  height: 50px;
}

input[type='checkbox'] {
  transform: scale(1.3);
}

.clear {
  text-align: center;
  background-color: var(--gray);
}

.list div:last-child {
  border-bottom: none;
}
